@font-face {
font-family: dala-moa;
font-weight: 700;
src: url("../fonts/DalaMoaBold.otf") format("opentype");
}
@font-face {
font-family: dala-moa;
font-weight: 300;
src: url("../fonts/DalaMoaLight.otf") format("opentype");
}
@font-face {
font-family: dala-moa;
font-weight: 500;
src: url("../fonts/DalaMoaRegular.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: 500;
src: url("../fonts/GT Walsheim Regular.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: 600;
src: url("../fonts/GT Walsheim Medium.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: 300;
src: url("../fonts/GT Walsheim Light.otf") format("opentype");
}
@font-face {
font-family: minion;
font-weight: 500;
src: url("../fonts/MinionPro-Regular.otf") format("opentype");
}
@font-face {
font-family: circular;
font-weight: 500;
src: url("../fonts/CircularStd-Book.otf") format("opentype");
}