@font-face {
font-family: dala-moa;
font-weight: bold;
src: url("../fonts/DalaMoaBold.otf") format("opentype");
}
@font-face {
font-family: dala-moa;
font-weight: light;
src: url("../fonts/DalaMoaLight.otf") format("opentype");
}
@font-face {
font-family: dala-moa;
font-weight: regular;
src: url("../fonts/DalaMoaRegular.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: regular;
src: url("../fonts/GT Walsheim Regular.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: medium;
src: url("../fonts/GT Walsheim Medium.otf") format("opentype");
}
@font-face {
font-family: walsheim;
font-weight: light;
src: url("../fonts/GT Walsheim Light.otf") format("opentype");
}
@font-face {
font-family: minion;
font-weight: regular;
src: url("../fonts/MinionPro-Regular.otf") format("opentype");
}
@font-face {
font-family: circular;
font-weight: book;
src: url("../fonts/CircularStd-Book.otf") format("opentype");
}