@import "variables";
@import "bootstrap";
@import "compass/css3";
@import "fonts";
@import "slick";
@import "slick-theme";

body {
    font-family: $font-family-sans-serif;
    color: $primary;
    background-color: $bg;
    font-size: 20px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);   
    @media(min-width:768px) {
        font-size: 23px;   
    } 
}
p {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    @media(min-width:768px) {
        margin: 0 0 25px;
        font-size: 21px;
        line-height: 1.3em;
        letter-spacing: .2px;
    }
}
p a, address a{
    text-decoration: underline;
    &:hover{
        text-decoration: underline;
    }
}
footer p, footer input, footer address, footer button{
    font-size: 15px;
}
.numbered-item{
    margin-bottom: 10px;}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 25px;
    // text-transform: uppercase;
    font-family: $font-family-serif;
    font-weight: 500;
    letter-spacing: 0px;
}
h1,h3{
    font-weight: 700;
    line-height: 1.2em;    
}
h3{
    letter-spacing: 3px;
}
h4{
    font-size: 40px;
    // -webkit-font-smoothing: initial;
    // -moz-osx-font-smoothing: initial; 
    // text-shadow: 1px 1px 1px rgba(0,0,0,0.004); 
}
.prop{
    font-size: 46px;
    letter-spacing: 3px;
}
h5{
    font-size: 22px;
    margin-bottom: 10px;
    font-size: 26px;
}
h6{
    font-size: 24px;
    margin: 0 0 15px;
}
@media(min-width:1000px) {
h2{ font-size: 48px;}
h3{font-size: 43px;}
}
@media(max-width:767px) {
h4{ font-size: 30px;}
}
h7{
    font-size: 20px;
}
.sans{
    font-family: $font-family-sans-serif;
}
.serif{
    font-family: $font-family-serif;
}
.heavy{
    font-weight: 700;
}
.normal{
    font-weight: 700;
}
.light{
    font-weight: 500;
}
span.serif.heavy{
    font-size:1.3em;
    line-height: 2.2;    
}
span.tighter{
    // @media(min-width:768px) {    
    letter-spacing: -.5px;   
    // } 
}
hr{
        margin-top: 8px;
    margin-bottom: 8px;
}
.up{
    text-transform: uppercase;
}
hr{
    color: $primary;
    border-color: $primary;
}
figcaption{
    font-size: 17px;
    line-height: 2.2em;
    font-weight: 500;
}

.mob-pad{
    @media(max-width:768px) {
      margin-top: 30px;
    } 
}
quote{
    font-size: 24px;
    font-family: $font-family-serif;
    font-weight: normal;
    letter-spacing: 1px; 
    padding: 0 0 25px;
        @media(min-width:768px) {
        padding: 0 0 35px;
        font-size: 26px;
    }
}
quote.text-left{
    padding-right: 30px;
}
p.quote{
    padding-right: 100px;
    font-size: 35px;
    line-height: 1.1;
}
a {
    color: $primary;
    // -webkit-transition: all .3s ease-in;
    // -moz-transition: all .3s ease-in;
    // transition: all .3s ease-in;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,10%);
    }
    font-size: 1em
}

.navbar-fixed-top a{
    font-size: .9em;
}

section{
    overflow-x:hidden;
}

.light {
    font-weight: 400;
}
.title-header{ 
   margin-top: 70px;
    margin-bottom: 40px;
}
.sub-title{
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
   margin-top: -15px; 
}
.navbar-custom {
    visibility: hidden;
    @include transition(visibility .3s ease-in);
    margin-bottom: 0;
    // text-transform: uppercase;
    font-family: $font-family-sans-serif;
    .navbar-toggle {
        line-height: calc(1.42857 * 14px);
        text-align: right;
        padding-right: 0;
        font-size: .9em;
        font-weight: 700;
        letter-spacing: 4px;
        width:75px;
        color: $primary;
        &:focus,
        &:active {
            outline: none;
        }
        &:before{
            font-size: 3em;
            line-height: calc(1.42857 * 14px);
            vertical-align: middle;  
            transition: all .2s ease;
            display: inline-block;
            width: 75px;
            width:30px          
        }
        &:after{
            content: "MENU";
            line-height: calc(1.42857 * 14px);
            display: none;
            width: 75px;
            height: 30px;         
        }
        &.collapsed{
            &:before {
                display: none;
            }
            &:after{
                display: inline-block;
                // vertical-align: sub;
            }    
        }
    }
    .navbar-brand {
        font-weight: 500;
        &:focus {
            outline: none;
        }
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: darken($primary,10%);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                position: relative;                    
                    &:after{
                        width: calc(100% - 30px);
                        position: absolute;
                        bottom: 5px;
                        left: 15px;
                        right: 15px;
                        border-bottom: 1px solid $primary;
                        content:' ';
                    }
                    // background-color: rgba(white, 0.5);
                    // text-decoration: underline;
                    &:hover {
                        color: darken($primary,10%);
                        // text-decoration: underline;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 0 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            //background: black;
            //border-bottom: 1px solid rgba(white, 0.3);
        }
    }
    &.sticky{
        visibility: visible;
    }
}

.navbar-fixed-top .navbar-brand{
        font-weight: 700;
    letter-spacing: 3px;
}

.navbar-fixed-bottom .navbar-right li a{
        padding-top: 25px;
    }
.navbar-fixed-bottom *{
    font-size: 16px;
}
#contacter{
 padding-right: 0!important;
font-weight: 700;
    padding-bottom: 0;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    // padding: 100px 0;
    text-align: center;
    color: $primary;
    background: url(../images/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
            width: 100%;
            top: 50%;
            left: initial;
            transform: translate(0%, -50%);
        position: absolute;
        .brand-heading {
            font-size: 42px;
            letter-spacing: 24px;
        }
        h4{
            font-weight: 300;
            font-size: 250%;
            letter-spacing: 6px;
        }
    }
    .intro-foot{
        .intro-text{font-size: 18px;
            font-weight: 500;}
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .brand-heading {
                font-size: 600%;
            }
            .intro-text {
                font-size: 26px;
            }
        }
        .intro-foot{
            .intro-text{ font-size: 24px;}
            }        
        }
}
.intro{
    position: absolute;
    overflow: hidden;
    .fullscreen-bg__video{
        position:absolute;
        // width:100%;
        right: 0%;
        bottom: 0%;
        // min-width: 102%;
        // min-height: 102%;
        width: 100%;
        height: auto;
    }
}

/// Disable on Mobile
@media(max-width:768px) {
    .mob-only{
        display:block;
    }
    .no-mob{
        display: none;
    }
}
/// Disable on Mobile
@media(min-width:769px) {
    .mob-only{
        display:none;
    }
    .no-mob{
        display: block;
    }
}
.navbar-brand.mob-only{
    font-size: 30px;
}
.fullscreen-bg__video{
    @media(max-width:768px) {
      display:none;
    }     
}

.fixed-wrap{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top:0;    

}
.fixed-wrap.fix{
    position: fixed;
    margin-top: 0 !important;
}
#about{
    background: inherit;
}

///Header Styles

header{
    z-index: 2;
}
.intro-foot{
    display: table-row;
    .table-foot{
        display:table-cell;
        vertical-align: bottom;
    }
}

//About
#about{
    position: relative;
    .quote {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
}
@media(max-width:768px) {
    #about .quote{
    top: 50%;
    left: initial;
    transform: translate(0%, -50%);
}
}
.wallace{
    margin-top: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}


//Overview Section
#overview{
    .image-section{
    background-image: url(../images/render-aerial.jpg);
    }
    font-size: 18px;
}

//Property Features Section
#floor-plans{
    margin-top: 70px;
    .renders{
        .render-road{
            background-image: url(../images/render-road.jpg) ;
        }    
        .render-living{
            background-image: url(../images/render-living.jpg) ;
        }            
        .render-dawn{
            background-image: url(../images/render-dawn.jpg) ;
        }            
        .render{
            min-height: 200px;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 100% auto;
            min-height: 600px;
            margin: 0 25px;
            width: 80vw;
        }        
    }
}
.below-renders{
    margin-top: 30px;
}
.image-caption{
    margin-top: 20px;
}
.dl-floor{
    position: relative;
}
.dl-floor:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #0083ca;
    content: ' ';
}
.slick-prev:before, .slick-next:before {
    color: $primary;
}

span.number{
    font-size: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #3473a4;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    font-weight: 500;
    /* margin-bottom: -12px; */
    line-height: 20px;
    font-family: dala-moa;
    margin-bottom: 5px;
    &.larger{
        font-size: 27px;
        line-height: 14px;
    }
}


//Rock Image Section
#architecture{
    .image-section{
        background-image: url(../images/rocks-sky.jpg);
    }
}

//Beach Image Section
#neighbourhood{
    .image-section{
        background-image: url(../images/beach.jpg);
    }
}


.image-section{
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 600px;
}

img{
    max-width:100%;
    height: auto;
}

@media(min-width:768px) {
    .orchard-st{
        margin-top: 200px;
    }
    .higher{
        position: relative;
        top: -40px;
    }
    .even-higher{
        top: -100px;
        position: relative;
    }
    .coogee{
        margin-bottom: 5px;
    }
    #neighbourhood{
        margin-bottom: -120px;
    }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: $primary;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: $primary;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



#map {
    width: 100%;
    height: 200px;
}
.content-section {
        padding-bottom: 50px;
    }
@media(min-width:767px) {
    .content-section {
        padding-bottom: 70px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    background: $footer-bg;
    padding: 50px 0 100px;
    p {
        margin: 0;
    }
}


::-webkit-input-placeholder {
   color: $primary;
}

:-moz-placeholder { /* Firefox 18- */
   color: $primary;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $primary;  
}

:-ms-input-placeholder {  
   color: $primary; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: none}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

footer{
    overflow: hidden;
    hr{
        width: 7%;
        margin-left: 0;
    }
    figure{
        width: 50%;
        margin-bottom: 20px;
    }
}

form{
    .rows{
        position: relative;
        margin-bottom: 5px;
    }
    input, button{
        border:none;
        background: none;
        width:100%;
        color: $primary;
        line-height: 1.5em;
    }
    button{
        border: 1px solid $primary;
        margin-top: 10px;
    }
    input{
        border-bottom: 1px solid $primary;
        padding-left: 5px;
        padding-top: 5px;
        &:focus{
            outline: none;
            outline: 1px solid $primary;
            outline-offset: -1px;
        }
    }
    span{
        position: absolute;        
        bottom: 2px;
        height: 8px;
        overflow: hidden;
        width: 3px;        
    }
    .before{
        left: -2px;
    }
    .after{
        right: 0px;
    }
}
///Custom Media Queries
@media(max-width:1200px) {
    .navbar-header, .navbar-right, ul.navbar-nav, button.navbar-toggle{
        display: table-cell;
    }
    .navbar-right {
    float: right;
    max-height: 100px;
    }
    .navbar-nav > li {
    float: none;
    }
}
@media(min-width:768px) {
    .move-over{
        padding-left: 75px;
    }
}
///Custom Media Queries
@media(max-width:767px) {

    .navbar-header{
        float:left;
    }
    .navbar-right{
        float:right;
        max-height: 100px;
    }
    #contacter{
        padding-bottom: 25px;
    }

    .navbar-fixed-top{
        max-height: 90px;
    overflow-y: visible; 
    } 
      .intro .intro-body {
        .brand-heading {
        letter-spacing: 5px;
        }
        h4{
            font-size: 150%;
        }
    }
    .image-section{
        background-size: 100% auto;
        background-attachment: scroll;
        min-height: 100px;
    }
    button.navbar-toggle{
        padding: initial!important;
        padding-top: 10px!important;
        width: 70px;
    }
    .slick-prev, .slick-next {
        z-index: 1040;
    }
}

/* Landscape */
@media only screen 
  and (max-device-width: 568px)
  and (orientation: landscape) {
    .navbar-fixed-bottom, .tama-title{
        display: none;
    }

}

//Maps 
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}