@import "variables";
@import "bootstrap";
@import "compass/css3";
@import "fonts";
@import "slick";
@import "slick-theme";

body {
    // width: 100%;
    // height: 100%;
    font-family: $font-family-sans-serif;
    color: $primary;
    background-color: $bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    // text-transform: uppercase;
    font-family: $font-family-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
h1,h3{
    font-weight: 700;
    line-height: 1.2em;    
}
h5{
    font-size: 22px;
}
h6{
    font-size: 24px;
}
h7{
    font-size: 20px;
}
.sans{
    font-family: $font-family-sans-serif;
}
.serif{
    font-family: $font-family-serif;
}
.heavy{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
.up{
    text-transform: uppercase;
}
hr{
    color: $primary;
    border-color: $primary;
}
figcaption{
    font-size: 15px;
    font-weight: 300;
}
p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 18px;
        line-height: 1.6;
    }
}
p a, address a{
    text-decoration: underline;
    &:hover{
        text-decoration: underline;
    }
}
body{
    font-size: 16px;
    font-weight: 300;
    @media(min-width:768px) {
        font-size: 18px;   
    } 
}

quote{
    font-size: 24px;
    font-family: $font-family-serif;
    font-weight: normal;
    letter-spacing: 1px; 
    padding: 0 0 25px;
        @media(min-width:768px) {
        padding: 0 0 35px;
    }
}
a {
    color: $primary;
    // -webkit-transition: all .3s ease-in;
    // -moz-transition: all .3s ease-in;
    // transition: all .3s ease-in;
    &:hover,
    &:focus {
        text-decoration: none;
        color: lighten($primary,10%);
    }
}

section{
    overflow-x:hidden;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    visibility: hidden;
    @include transition(visibility .3s ease-in);
    margin-bottom: 0;
    // text-transform: uppercase;
    font-family: $font-family-sans-serif;
    .navbar-toggle {
        line-height: calc(1.42857 * 14px);
        padding: 4px 6px;
        padding-right: 0;
        text-align: right;
        font-size: 16px;
        color: $primary;
        &:focus,
        &:active {
            outline: none;
        }
        &:before{
            font-size: 3em;
            line-height: calc(1.42857 * 14px);
            vertical-align: middle;  
            transition: all .2s ease;
            display: inline-block;
            width: 50px          
        }
        &:after{
            content: "MENU";
            line-height: calc(1.42857 * 14px);
            display: none;
            width: 50px             
        }
        &.collapsed{
            &:before {
                display: none;
            }
            &:after{
                display: inline-block;
                // vertical-align: sub;
            }    
        }
    }
    .navbar-brand {
        font-weight: 500;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $primary;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: lighten($primary,10%);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                position: relative;                    
                    &:after{
                        width: calc(100% - 30px);
                        position: absolute;
                        bottom: 5px;
                        left: 15px;
                        right: 15px;
                        border-bottom: 1px solid $primary;
                        content:' ';
                    }
                    // background-color: rgba(white, 0.5);
                    // text-decoration: underline;
                    &:hover {
                        color: lighten($primary,10%);
                        // text-decoration: underline;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            //background: black;
            //border-bottom: 1px solid rgba(white, 0.3);
        }
    }
    &.sticky{
        visibility: visible;
    }
}
.navbar-fixed-bottom .navbar-right li a{
        padding-top: 25px;
    }
.navbar-fixed-bottom *{
    font-size: 16px;
}

.intro, #about {
    display: table;
    width: 100%;
    height: auto;
    // padding: 100px 0;
    text-align: center;
    color: $primary;
    background: url(../images/intro-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: bottom;
        .brand-heading {
            font-size: 40px;
            letter-spacing: 10px;
        }
        .intro-text {
            font-size: 18px;
        }
        h4{
            font-weight: 300;
            font-size: 26px;
            letter-spacing: 5px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}
.intro{
    position: absolute;
}
.fixed-wrap{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    top:0;    

}
.fixed-wrap.fix{
    position: fixed;
    margin-top: 0 !important;
}
#about{
    background: inherit;
}

// general
.content-section {
    padding-top: 50px;
}

///Header Styles

header{
    z-index: 2;
}
.intro-foot{
    display: table-row;
    .table-foot{
        display:table-cell;
        vertical-align: bottom;
    }
}

//About
#about{
    .quote {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
}

.wallace{
    margin-top: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

//View Image Section
.view-image{
    .image-section{
    width: 100%;
    min-height: 200px;
    // padding: 200px 0;
    color: $primary;
    background: url(../images/render-aerial.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    }
}

//Property Features Section
#floor-plans{
    .renders{
        .render-road{
            background: url(../images/render-road.jpg) no-repeat center center scroll;
        }    
        .render-living{
            background: url(../images/render-living.jpg) no-repeat center center scroll;
        }            
        .render-dawn{
            background: url(../images/render-dawn.jpg) no-repeat center center scroll;
        }            
        .render{
            min-height: 200px;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover; 
        }        
    }
}

.slick-prev:before, .slick-next:before {
    color: $primary;
}

span.number{
    font-size: 14px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #3473a4;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    /* margin-bottom: -12px; */
    line-height: 13px;
    font-family: dala-moa;
    &.larger{
        font-size: 20px;
        width: 22px;
        height: 22px;
        line-height: 14px;
    }
}


//Rock Image Section
.rock-image{
    .image-section{
        width: 100%;
        color: $primary;
        background: url(../images/rocks-sky.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

//Beach Image Section
.beach-image{
    .image-section{
        width: 100%;
        color: $primary;
        background: url(../images/beach.jpg) no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
}

img{
    max-width:100%;
    height: auto;
}

@media(min-width:768px) {
    .orchard-st{
        margin-top: 200px;
    }
    .container.higher{
        position: relative;
        top: -40px;
    }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: $primary;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: $primary;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



#map {
    width: 100%;
    height: 200px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 100px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    background: $footer-bg;
    padding: 50px 0 100px;
    p {
        margin: 0;
    }
}


::-webkit-input-placeholder {
   color: $primary;
}

:-moz-placeholder { /* Firefox 18- */
   color: $primary;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $primary;  
}

:-ms-input-placeholder {  
   color: $primary; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background: none}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

footer{
    hr{
        width: 7%;
        margin-left: 0;
    }
    figure{
        width: 50%;
        margin-bottom: 20px;
    }
}

form{
    .rows{
        position: relative;
        margin-bottom: 15px;
    }
    input, button{
        border:none;
        background: none;
        width:100%;
        color: $primary;
        line-height: 1.5em;
    }
    button{
        border: 1px solid $primary;
    }
    input{
        border-bottom: 1px solid $primary;
        padding-left: 5px;
        padding-top: 5px;
        &:focus{
            outline: none;
            outline: 1px solid $primary;
            outline-offset: -1px;
        }
    }
    span{
        position: absolute;        
        bottom: 0px;
        height: 8px;
        overflow: hidden;
        width: 2px;        
    }
    .before{
        left: -1px;
    }
    .after{
        right: 0px;
    }
}


///Custom Media Queries
@media(max-width:767px) {
    .navbar-header, .navbar-right, ul.navbar-nav, button.navbar-toggle{
        display: table-cell;
    }
    .navbar-header{
        float:left;
    }
    .navbar-right{
        float:right;
        max-height: 100px;
    }
    .navbar{
        min-height: 75px;
    }

    .navbar-fixed-top{
        max-height: 90px;
    overflow-y: visible; 
    }   
}

//Maps 
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}